@import url("./more.css");

body,
ul,
li,
h2,
h3
{
	margin: 0;
	padding: 0;
}

img
{
	border: 0;
}

body
{
	font-family: verdana, arial, sans-serif;
	font-size: 1em;
	color: Black;
	background-color: WhiteSmoke;
}

a:link,
a:visited,
a:hover,
a:active
{
	text-decoration: none;
	font-weight: bold;
	font-size: 0.8em;
	color: Peru;
}

input,
select,
textarea
{
	background-color: #eee;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	color: Black;
	border: 1px dashed LightSteelBlue;
}

input[type='text'],
input[type='password'],
select
{
	width: 180px;
}

input[type='submit']
{
	width: 50px;
}

input[disabled='disabled'],
textarea[disabled='disabled'],
select[disabled='disabled']
{
	background-color: LightGrey;
}

input.search
{
	padding-left: 15px;
	background: transparent url("../images/icons/magnifier.png") no-repeat;
}

.little input,
.little textarea,
.little select
{
	margin: 5px;
	width: 70px;
}

.little2 select
{
	width: 55px;
}

.big textarea
{
	margin: 5px;
	width: 300px;
	height: 150px;
}

.big input[type='submit']
{
	width: 170px;
}

table.table
{
	margin: 10px auto;
	width: 100%;
}

.table caption
{
	margin-left: 50%;
	padding: 0 5px;
	width: 45%;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	border: 4px solid Lavender;
	background-color: LightSteelBlue;
}

.table td
{
	text-align: center;
	font-size: 0.8em;
	border: 4px solid Lavender;
}

.table th
{
	font-weight: bold;
	color: SteelBlue;
	background-color: LightSteelBlue;
}

th.select
{
	width: 5px;
}

.gantt
{
	margin: 5px auto;
	width: 100%;
}

.gantt .name
{
	padding-left: 15px;
	width: 15%;
	background-color: #eee;
	border-left: 1px solid Gray;
	border-right: 1px dashed Gray;
}

.gantt .legend
{
	border-left: 1px solid Gray;
	background-color: WhiteSmoke;
}

.gantt .name,
.gantt .legend
{
	font-weight: bold;
	font-size: 0.7em;
}

.gantt .line div
{
	float: left;
	padding-top: 3px;
	height: 13px;
}

.gantt .novalid
{
	width: 100%;
	height: 100%;
	background-color: Red;
}

fieldset
{
	margin: 10px;
	padding: 25px;
	border: 3px solid LightSteelBlue;
}

legend
{
	padding: 5px;
	border: 3px solid LightSteelBlue;
}

.form
{
	font-weight: bold;
	text-align: center;
}

.form label
{
	margin: 5px;
	display: block;
}

.form hr
{
	width: 10%;
	border: 1px solid LightSteelBlue;
}

.error,
.mesg
{
	font-weight: bold;
}

.error
{
	color: Red;
}

.mesg
{
	color: Black;
}

.warning
{
	color: DarkOrange;
}

.clear
{
	clear: both;
}

#content
{
	margin: 10px auto;
	padding: 5px;
	width: 95%;
	border: 2px solid Black;
	background-color: LightSteelBlue;
}

#header
{
	padding: 5px;
}

#header h1,
#nav li
{
	color: WhiteSmoke;
	border: 5px solid WhiteSmoke;
}

#header h1
{
	margin: 10px auto;
	padding: 15px;
	width: 200px;
	text-align: center;
	font-size: 2em;
	background-color: Black;
}

#body
{
	padding: 10px;
	background-color: WhiteSmoke;
}

#footer
{
	padding: 5px;
	text-align: right;
}

#footer .autor
{
	padding: 0 5px;
	text-decoration: underline;
}

#nav li
{
	float: left;
	margin: 5px 50px;
	padding: 5px;
	list-style-type: none;
	background-color: LightSteelBlue;
}

#nav li.on
{
	background-color: Black;
}

ul.line
{
	margin: 10px auto;
	width: 90%;
	max-height: 80px;
	list-style-type: none;
	overflow: auto;
	border: 1px dashed LightSteelBlue;
}

ul.line li
{
	float: left;
	margin: 5px 15px;
}

.menu
{
	float: left;
	padding: 5px;
	width: 250px;
}

.menu > ul
{
	padding-left: 15px;
	list-style-type: none;
}

li.go,
li.open,
li.add
{
	padding: 5px 0;
	padding-left: 25px;
}

li.go
{
	background: transparent url("../images/icons/book_go.png") no-repeat left center;
}

li.open
{
	background: transparent url("../images/icons/book_open.png") no-repeat left center;
}

li.add
{
	background: transparent url("../images/icons/book_add.png") no-repeat left center;
}

.box,
.box2,
.menu
{
	border: 1px dashed LightSteelBlue;
}

.box
{
	margin-left: 270px;
}

.blue1
{
	background-color: LightSteelBlue;
}

.blue2
{
	background-color: Lavender;
}

.blue3
{
	background-color: #eee;
}

.marg
{
	padding: 15px;
}

h2
{
	padding: 5px 0;
	font-size: 1.2em;
	text-align: center;
}

h3.blue1,
h3.blue2
{
	padding: 4px 10px;
	font-size: 0.9em;
}

.list
{
	max-height: 300px;
	overflow: auto;
}

.list_ch
{
	max-height: 150px;
}

.list ul,
.list ul.chield
{
	list-style-type: none;
	border-left: 1px dashed Silver;
}

.list ul.chield
{
	margin-left: 20px;
}

.list li
{
	padding: 3px 0;
	min-width: 150px;
	vertical-align: middle;
}

.list .on
{
	padding: 3px;
	background-color: Peru;
}

.list a .on
{
	color: Lavender;
}

.list li img
{
	padding: 0 5px;
}

.bar
{
	margin-left: 50px;
	width: 100px;
	height: 20px;
	background-color: WhiteSmoke;
	border: 1px solid LightSteelBlue;
}

.bar .ok
{
	height: 100%;
	text-align: center;
	color: WhiteSmoke;
	font-weight: bold;
	font-size: 0.9em;
	background-color: OliveDrab;
	float: left;
}

.bar .nok
{
	height: 100%;
	text-align: left;
	padding-left: 1px;
	color: OliveDrab;
	font-weight: bold;
	font-size: 0.9em;
	background-color: WhiteSmoke;
}

.member_list
{
	padding: 15px;
}

.member_submit
{
	padding: 2px;
	text-align: center;
}

.agenda
{
	margin: 0 8%;
	width: 90%;
}

.agenda .event
{
	float: left;
	width: 18%;
	min-height: 150px;
	border: 1px solid LightGrey;
}

.agenda .title,
.agenda .line
{
	border-bottom: 1px solid LightSteelBlue;
}

.agenda .title
{
	padding: 5px;
	text-align: right;
	background-color: Lavender;
}

.agenda .line
{
	padding-left: 5px;
	background-color: #eee;
}

.view
{
	margin: auto;
	width: 200px;
}

.view div
{
	float: left;
	padding: 5px;
	border: 2px solid LightSteelBlue;
}

.view .on
{
	background-color: LightSteelBlue;
}
