@import url("./more.css");

body,
ul,
li
{
	margin: 0;
	padding: 0;
}

img
{
	border: 0;
}

body
{
	font-family: verdana, arial, sans-serif;
	font-size: 1em;
	color: Black;
	background-color: WhiteSmoke;
}

a:link,
a:visited,
a:hover,
a:active
{
	text-decoration: none;
	font-weight: bold;
	font-size: 0.8em;
	color: Peru;
}

input,
select,
textarea
{
	background-color: #eee;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: Black;
	border: 1px dashed SkyBlue;
}

input[type='text'],
input[type='password'],
select
{
	width: 180px;
}

input[type='submit']
{
	width: 50px;
}

input.search
{
	padding-left: 15px;
	background: transparent url("../images/icons/magnifier.png") no-repeat;
}

fieldset
{
	margin: 10px 0;
	padding: 25px;
	border: 3px solid SkyBlue;
}

legend
{
	padding: 5px;
	border: 3px solid SkyBlue;
}

.form
{
	font-weight: bold;
	text-align: center;
}

.form label
{
	border-bottom: 1px solid SkyBlue;
}

.error,
.mesg
{
	font-weight: bold;
}

.error
{
	color: Red;
}

.mesg
{
	color: Black;
}

.clear
{
	clear: both;
}

#content
{
	margin: 10px auto;
	padding: 5px;
	width: 95%;
	border: 2px solid Black;
	background-color: SkyBlue;
}

#header
{
	padding: 5px;
}

#header h1,
#menu li
{
	color: WhiteSmoke;
	border: 5px solid WhiteSmoke;
}

#header h1
{
	margin: 10px auto;
	padding: 15px;
	width: 200px;
	text-align: center;
	font-size: 2em;
	background-color: Black;
}

#body
{
	padding: 10px;
	background-color: WhiteSmoke;
}

#footer
{
	padding: 5px;
	text-align: right;
}

#footer .autor
{
	padding: 0 5px;
	text-decoration: underline;
}

#menu li
{
	float: left;
	margin: 5px 50px;
	padding: 5px;
	list-style-type: none;
	border: 5px solid WhiteSmoke;
	background-color: SkyBlue;
}

#menu li.on
{
	background-color: Black;
}

#project
{
	background-color: SkyBlue;
}

#activity
{
	background-color: #eee;
}

#project,
#activity
{
	float: left;
	margin-right: 2%;
	padding: 5px 15px;
	width: 10%;
}

.menu
{
	float: left;
}

.menu > ul
{
	margin: 5px 50px;
	padding: 5px;
	list-style-type: none;
	border: 5px solid WhiteSmoke;
	background-color: SkyBlue;
	width: 160px;
}

.box
{
	margin-left: 170px;
	padding: 5px;
	border: 1px dashed SkyBlue;
}

.list ul
{
	margin-left: 15px;
	border-left: 1px dashed Silver;
}

.list li
{
	padding: 3px 0;
	list-style-type: none;
	vertical-align: middle;
}

.list li img
{
	padding: 0 5px;
}
